@font-face {
    font-family: 'Sora';
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
    src: url('../../fonts/Sora-Bold.ttf ') format('woff2'),
        url('../../fonts/Sora-Bold.ttf ') format('woff');
}

@font-face {
    font-family: 'Sora';
    font-weight: 700;
    font-style: italic;
    font-display: fallback;
    src: url('../../fonts/Sora-Thin.ttf') format('woff2'),
        url('../../fonts/Sora-Thin.ttf') format('woff');
}

@font-face {
    font-family: 'Sora';
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
    src: url('../../fonts/Sora-Regular.ttf') format('woff2'),
        url('../../fonts/Sora-Regular.ttf') format('woff');
}

@font-face {
    font-family: 'Sora';
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
    src: url('../../fonts/Sora-Medium.ttf ') format('woff2'),
        url('../../fonts/Sora-Medium.ttf ') format('woff');
}